# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# CSV files
*.csv

# Other files
*.DS_Store
*.egg-info/
*.egg
